* {
  margin: 0;
  padding: 0;
}

:root {
  --fontPoppins: "Poppins", sans-serif;
  --fontRoboto: "Roboto", sans-serif;
  --fontInter: "Inter", sans-serif;
}

body {
  background-color: #101010;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}

hr {
  color: rgba(255, 255, 255, 0.1);
}

.navbar {
  padding: 30px 16px;
}

.navbar .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar .nav-menu {
  display: flex;
  align-items: center;
  gap: 30px;
  list-style: none;
}

.navbar .nav-menu li a {
  text-decoration: none;
  color: #fff;
  font-family: var(--fontPoppins);
  font-size: 16px;
  font-weight: 400;
}

.navbar .navbar-button button {
  padding: 8px 24px;
  border-radius: 30px;
  font-family: var(--fontRoboto);
  font-size: 19.2px;
  font-weight: 500;
  color: #fff;
  background: linear-gradient(97.86deg, #016db0 -38.38%, #00ffc8 71.88%);
  border: none;
}

/* hero */
.hero .container {
  display: flex;
  align-items: center;
  margin-top: 100px;
}

.hero .hero-left {
  width: 50%;
}

.hero .hero-left .heading {
  font-family: var(--fontInter);
  font-size: 66px;
  font-weight: 700;
  line-height: 81px;
  letter-spacing: 0.015em;
  color: #fff;
}

.hero .hero-left .heading span {
  background: linear-gradient(90deg, #016db0 0%, #00ffc8 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.hero .hero-left .subheading {
  font-family: var(--fontInter);
  font-size: 16px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0.02em;
  color: #fff;
  width: 80%;
  margin-top: 32px;
}

.hero .hero-left .button-hero {
  display: flex;
  flex-wrap: wrap;
  margin-top: 48px;
  gap: 28px;
}

.hero .hero-left .button-hero button:nth-child(1) {
  /* display: block; */
  text-decoration: none;
  font-family: var(--fontRoboto);
  font-size: 19.2px;
  color: #fff;
  padding: 16px 32px;
  background: linear-gradient(97.86deg, #016db0, #00ffc8);
  border-radius: 30px;
  border: none;
}

.hero .hero-left .button-hero button:nth-child(2) {
  display: inline-block;
  font-size: 19px;
  padding: 16px 32px;
  border: 3px solid transparent;
  color: #fff;
  background: linear-gradient(#101010, #101010) padding-box,
    linear-gradient(60deg, #016db0, #00ffc8) border-box;
  border-radius: 30px;
}

.hero .hero-right {
  width: 50%;
  display: flex;
  justify-content: center;
  position: relative;
}

.hero .hero-right .hero-image {
  width: 75%;
}

.hero .hero-right .wallet {
  width: 100%;
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  padding: 45px 0;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(14.8462px);
  border-radius: 8px;
  bottom: 32px;
  border: 2px solid #fff;
}

.hero .hero-right .wallet .image-wallet {
  width: 25%;
}

/* Trending Page */
.trending {
  margin-top: 112px;
  margin-bottom: 200px;
}

.trending .trending-head {
  display: flex;
  align-items: center;
  color: #fff;
  margin-bottom: 90px;
}

.trending .trending-head h1 {
  width: 55%;
  font-size: 60px;
  font-weight: 600;
  letter-spacing: 0.005em;
  font-family: var(--fontPoppins);
}

.trending .trending-head p {
  width: 45%;
  font-size: 18px;
  font-weight: 300;
  line-height: 27px;
  text-align: justify;
  opacity: 0.5;
  font-family: var(--fontInter);
}

.trending .trending-body {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 0 100px;
  gap: 120px;
}

.trending .trending-body .trending-card {
  position: relative;
}

.trending .trending-body .trending-image {
  width: 496px;
  display: flex;
  justify-content: center;
}

.trending .trending-body .trending-detail {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
  width: 100%;
  padding: 14px 24px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(14.8462px);
  border-radius: 8px;
  border: 2px solid #fff;
  bottom: -46px;
  font-family: var(--fontRoboto);
}

.trending .trending-body .trending-detail .detail-info h1 {
  font-size: 25px;
  font-weight: 600;
  letter-spacing: 0.005em;
}
.trending .trending-body .trending-detail .detail-info span {
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.005em;
  opacity: 0.5;
}
.trending .trending-body .trending-detail .detail-info p {
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0.005em;
  background: linear-gradient(90deg, #016db0 0%, #00ffc8 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  margin-top: 6px;
}

.trending .trending-body .trending-detail button {
  font-size: 19.2px;
  color: #fff;
  padding: 8px 24px;
  background: linear-gradient(97.86deg, #016db0, #00ffc8);
  border-radius: 30px;
  border: none;
}
